<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= @title %></h1>
        <p>ข้อมูลวันที่: <%= l @latest_date.announce_date, format: '%d %b %Y' %> (ข้อมูลนี้เป็นเพียงภาพรวม ไม่เหมาะสำหรับใช้ในการอ้างอิง)</p>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
          <li class="breadcrumb-item active"><%= @title %></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <%# total %>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3><%= number_with_delimiter @total_cases %></h3>

            <p><%= t 'labels.infected_total'%></p>
          </div>
          <div class="icon">
            <i class="fas fa-user-circle"></i>
          </div>
          <a href="#" class="small-box-footer"><i class="fas fa-minus"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <%# oldest %>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-indigo">
          <div class="inner">
            <h3><%= @oldest.ceil %><sup style="font-size: 20px"><%= t 'labels.age_year'%></sup></h3>

            <p><%= t 'labels.age_oldest'%></p>
          </div>
          <div class="icon">
            <i class="fas fa-user"></i>
          </div>
          <a href="#" class="small-box-footer"><i class="fas fa-minus"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <%# youngest %>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3><%= @youngest.ceil %><sup style="font-size: 20px">เดือน</sup></h3>

            <p><%= t 'labels.age_youngest' %></p>
          </div>
          <div class="icon">
            <i class="fas fa-baby"></i>
          </div>
          <a href="#" class="small-box-footer"><i class="fas fa-minus"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <%# average %>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3><%= number_with_precision @age_avg, :precision => 1 %><sup style="font-size: 20px"><%= t 'labels.age_year'%></sup></h3>

            <p><%= t 'labels.age_avg' %></p>
          </div>
          <div class="icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <a href="#" class="small-box-footer"><i class="fas fa-minus"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              <%= t 'labels.by_gender' %>
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-gender-chart"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              สถิติผู้ติดเชื้อแบ่งตามช่วงอายุ
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-age-chart"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              <%= t 'labels.by_occupation'%> *ข้อมูลถึงวันที่ 28 มี.ค. 63
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-occupation-chart"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              <%= t 'labels.by_province'%>
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-province-chart"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              <%= t 'labels.by_province_without_bkk'%>
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-province-without-bkk"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              กราฟเปรียบเทียบผู้ติดเชื้อสะสมในกทมและต่างจังหวัด <span class="right badge badge-danger">New</span>
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-bkk-and-nonbkk-time-serie"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              สถิติผู้ติดเชื้อแบ่งคนไทยและต่างชาติ
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-country-th-and-non"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              <%= t 'labels.by_country_without_thailand'%>
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
                <%# <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas> %>
                <canvas id="by-country-without-thailand"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              แหล่งข้อมูลอ้างอิง
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <ul>
              <li><a href="https://data.go.th/dataset/covid-19-daily" target="_blank">https://data.go.th/dataset/covid-19-daily</a></li>
            </ul>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <!-- /.Left col -->
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>


<script src="/charts/by-gender.js"></script>
<script src="/charts/by-occupation.js"></script>
<script src="/charts/by-age.js"></script>
<script src="/charts/by-province.js"></script>
<script src="/charts/by-country-th-and-non.js"></script>
<script src="/charts/by-province-without-bkk.js"></script>
<script src="/charts/by-country-without-thailand.js"></script>
<script src="/charts/by-bkk-and-nonbkk-time-serie.js"></script>
