<h1>New Covid case</h1>

<%= form_with scope: :covid_case, url: covid_cases_path, local: true do |form| %>
  <p>
    <%= form.label :no %>
    <%= form.number_field :no, step: 1 %>
  </p>
  <p>
    <%= form.label :age %>
    <%= form.number_field :age, step: 1%>
  </p>
  <p>
    <%= form.label :sex %>
    <%= form.select :sex, ['ชาย', 'หญิง', 'ไม่ระบุ'] %>
  </p>
  <p>
    <%= form.label :nation %>
    <%= form.text_field :nation %>
  </p>
  <p>
    <%= form.label :occ_new %>
    <%= form.text_field :occ_new %>
  </p>
  <p>
    <%= form.label :province %>
    <%= form.text_field :province %>
  </p>
  <p>
    <%= form.label :risk %><br>
    <%= form.text_area :risk %>
  </p>
  <p>
    <%= form.label :district %>
    <%= form.text_field :district %>
  </p>
  <p>
    <%= form.label :notification_date %>
    <%= form.date_field :notification_date %>
  </p>
  <p>
    <%= form.label :announce_date %>
    <%= form.date_field :announce_date %>
  </p>
  <p><%= form.submit %></p>
<% end %>