<h1>Case No: <%= @covid_case.no %></h1>
<p>
  <strong>Age: </strong>
  <%= @covid_case.age %>
</p>
<p>
  <strong>Sex: </strong>
  <%= @covid_case.sex %>
</p>
<p>
  <strong>Nation: </strong>
  <%= @covid_case.nation %>
</p>
<p>
  <strong>Occupation: </strong>
  <%= @covid_case.occ_new %>
</p>
<p>
  <strong>PRovince: </strong>
  <%= @covid_case.province %>
</p>
<p>
  <strong>Risk: </strong>
  <%= @covid_case.risk %>
</p>
<p>
  <strong>District: </strong>
  <%= @covid_case.district %>
</p>
<p>
  <strong>Notification date: </strong>
  <%= @covid_case.notification_date %>
</p>
<p>
  <strong>Announce date: </strong>
  <%= @covid_case.announce_date %>
</p>
<h2>Timeline:</h2>