// Place all the styles related to the CovidCases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stat-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}